<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th>Password confirmation</th>
    <th>Name</th>
    <th>Headline</th>
    <th>About</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.password_confirmation %></td>
    <td><%= user.name %></td>
    <td><%= user.headline %></td>
    <td><%= user.about %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>



<p id = "geolocation"></p>
<script>
var x = document.getElementById("geolocation");

// Gets geolocation, sends data to savePosition
function getGeoLocation() {
        if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(savePosition,showError)
        }
}

// Saves geolocation data in a JSON object and saves in a cookie
function savePosition(position) {
        var JSONposition = {
        "accuracy" : "position.coords.accuracy",
        "altitude" : "position.coords.altitude",
        "altitude_accuracy" : "position.coords.altitudeAccuracy",
        "heading" : "position.coords.heading",
        "latitude" : "position.coords.latitude",
        "longitude" : "position.coords.longitude" };

	document.cookie = "accuracy" + "=" + position.coords.accuracy;
	document.cookie = "latitude" + "=" + position.coords.latitude;
        // TODO Save as cookie
        $.cookie("basket-data", JSON.stringify($(JSONposition).data()));
}

// Shows error codes, if in effect
function showError(error)
  {
  switch(error.code) 
    {
    case error.PERMISSION_DENIED:
      x.innerHTML="User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML="Location information is unavailable."
      break;
    case error.TIMEOUT:
      x.innerHTML="The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML="An unknown error occurred."
      break;
    }
  }

getGeoLocation();

</script>
