<div class="searchForm">
    <div class="field">
      <%= label_tag :ambition_ids, "Ambitions" %>
      <% @ambitions = Ambition.all %>
      <% @ambitions.each do |ambition| %>
        <br />
        <%= label_tag "ambitions[#{ambition.id}]", ambition.name %>
        <%= check_box_tag "ambitions[#{ambition.id}]", ambition.name %>
        <br />
      <% end %>
    </div>

    <br />
    <div class="field">
      <%= label_tag :tag_list, "Skills (separated by commas)" %>
      <%= text_field_tag :tag_list %>
    </div>
</div>
<div class="nycBack">
<div class="container">
<button class="button" onClick="getLocation()">Load more users</button>

<script>

	var lim = 0
	var max_dist = 0
	// Call getLocation when the page loads
	$(document).ready(getLocation)

	var x=document.getElementById("demo");
	function getLocation()
	  {
	  if (navigator.geolocation)
	    {
	    navigator.geolocation.getCurrentPosition(refreshCall,showError);
	    }
	  else{x.innerHTML="Geolocation is not supported by this browser.";}
	  }
	function showError(error)
	  {
	  switch(error.code) 
	    {
	    case error.PERMISSION_DENIED:
	      x.innerHTML="User denied the request for Geolocation."
	      break;
	    case error.POSITION_UNAVAILABLE:
	      x.innerHTML="Location information is unavailable."
	      break;
	    case error.TIMEOUT:
	      x.innerHTML="The request to get user location timed out."
	      break;
	    case error.UNKNOWN_ERROR:
	      x.innerHTML="An unknown error occurred."
	      break;
	    }
	  }

	  /**
	   * ajax call with limit and distance to load role partial
	   * -> each call increments LIMIT by 20 and DISTANCE by 2km and calls again
	  **/
	  function refreshCall(position)
	  {
	  	if (max_dist < 15) {
	  		max_dist += 5;
	  	}
	  	lim += 20

	  	// Ambition ids: stored as a comma-separated string
	  	var amb_ids = "";
	  	var ambition_id = "";
	  	for ( var i = 0; i < <%= @ambitions.length %>; i++ ) {	
	  		// TODO get this line to work (for some reason, .checked breaks everything)
	  		ambition_id = "ambitions_" + i.toString();
	  		var ambition_box = document.getElementById(ambition_id);
	  		if (ambition_box.checked){
	  			amb_ids = amb_ids + i.toString() + ",";
	  		}
	  	}

	  	// Taglist: stored as comma-separated string
	  	var taglist = document.getElementById("tag_list").value;

	  	"<% @roles = [] %>"
	  	$.ajax({ type: "POST", url: "<%= role_refresh_path %>", data: { limit: lim, max_distance: max_dist, latitude: position.coords.latitude, longitude: position.coords.longitude, ambition_ids: amb_ids, tag_list: taglist }
	  			}).done(function(html) {
	  				$(".role").empty();
	  				$(".role").append(html);
	  			});
	  }

</script>
