<%= simple_form_for @role do |f| %>

  <div class="field">
    <%= image_tag(@role.picture_url) if @role.picture? %>
    <%= f.label :picture, :label => "Profile Picture" %>
    <%= f.file_field :picture, :as => "Profile Picture", :label => "Profile Picture" %>
  </div>

  <%= f.simple_fields_for :profile do |profile| %>
    <fieldset>
      <div class="field">
        <%= profile.input :name %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field">
        <%= profile.input :headline %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field">
        <%= profile.input :about, :input_html => {:maxlength => 140, :size => 100 } %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field">
        <%= profile.association :ambitions, :as => :check_boxes %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field">
        <%= profile.input :tag_list, :size => 150, :label => "Skills (separated by commas)" %>
      </div>
    </fieldset>

  <% end %>

  <div class="field">
    <%= f.input :email, :required => false %>
  </div>

  <%= f.hidden_field :password, :value => @role.password  %>
  <%= f.hidden_field :password_confirm, :value => @role.password %>

  <div class="actions">
    <%= f.button :submit, :as => "Update profile", :class => "btn btn-primary" %>
  </div>
<% end %>