<%= form_for(@role, :validate => true) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.file_field :picture %>
  </p>

  <div class="field">
  	<%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
  	<%= f.label :headline %>
    <%= f.text_field :headline %>
  </div>

   <div class="field">
   	<%= f.label :about %>
    <%= f.text_field :about %>
  </div>

  <div class="field">
    <% @ambitions = Ambition.all %>
    <% @ambitions.each do |ambition| %>
      <%= check_box_tag( ambition.name, "yes", @role.profile.ambitions.include(ambition) ) %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :tag_list, "Skills (separated by commas)" %><br />
    <%= f.text_field :tag_list %>
  </div>

  <div class="field">
  	<%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "Update profile", :class => "btn btn-primary" %>
  </div>
<% end %>