<div class="searchForm">
  <%#= form_tag role_search_path, :method => :post do %>

    <div class="field">
      <%= label_tag :ambition_ids, "Ambitions" %>
      <% @ambitions = Ambition.all %>
      <% @ambitions.each do |ambition| %>
        <br />
        <%= label_tag "ambitions[#{ambition.id}]", ambition.name %>
        <%= check_box_tag "ambitions[#{ambition.id}]", ambition.name %>
        <br />
      <% end %>
    </div>

    <script>
    var numAmbitions = <%= @ambitions.length %>
    </script>

    <br />
    <div class="field">
      <%= label_tag :tag_list, "Skills (separated by commas)" %>
      <%= text_field_tag :tag_list %>
    </div>

  <%# end %>
</div>