<h1>Search</h1>

<%= form_tag role_index_path, :method => :post do %>

  <div class="field">
    <%= label_tag :ambition_ids, "Ambitions" %><br />
    <% @ambitions = Ambition.all %>
    <% @ambitions.each do |ambition| %>
      <br />
      <%= label_tag "ambitions[#{ambition.id}]", ambition.name %>
      <%= check_box_tag "ambitions[#{ambition.id}]", ambition.name %>
      <br />
    <% end %>
  </div>

  <br />
  <div class="field">
    <%= label_tag :tag_list, "Skills (separated by commas)" %>
    <%= text_field_tag :tag_list %>
  </div>

  <div class="actions">
    <%= submit_tag "Search", :class => "btn btn-primary" %>
  </div>
<% end %>