
<div class="show-picture">
	<p><%= image_tag @role.picture_url if @role.picture? %></p>
</div>

<div class="show-info-basic">
	<div class="show-name">
		<p class="show-info">
		  <%= @role.profile.name %>
		</p>
	</div>

	<div class="show-distance">
		<p class="show-info">
		  <%= number_with_precision( 0.621371 * Geolocation.geolocation_haversine_distance( session[:role_id], @role.id ), :precision => 1 ) %> miles away
		</p>
	</div>

	<div class="show-email">
		  <p class="show-info">
		  	<%= @role.email %>
		  </p>
	</div>

	<div class="show-ambitions">
		<p>
			<strong>Ambitions:</strong>
		  <p class="show-info">
		  	<% @role.profile.ambitions.each do |ambition| %>
		  		<%= ambition.name %>
		  		<% unless ambition == @role.profile.ambitions.last %>
		  		,
		  		<% end %>
		  	<% end %>
		  </p>
		</p>
	</div>

	<div class="show-skills">
		<p>
			<strong>Skills:</strong>
		  <p class="show-info">
		  	<%= @role.profile.tag_list %>
		  </p>
		</p>
	</div>

</div>


<div class="show-info-descriptive">

	<div class="show-headline">
		<p>
		  <h4 class="show-headline">
		  	<%= @role.profile.headline %>
		  </h4>
		</p>
	</div>

	<div class="show-about">
		<p>
		  <p class="show-info">
		  	<%= @role.profile.about %>
		  </p>
		</p>
	</div>

</div>