
<!-- TODO profile picture -->
<p><%#= image_tag @role.picture_url %></p>

<div class="show-info-basic">
	<div class="show-name">
		<p class="show-info">
		  <%= @role.profile.name %>
		</p>
	</div>

	<div class="show-distance">
		<p class="show-info">
		  <!-- TODO Helper function for role distance -->
		  <%#= profile_distance( role_current, @role ) %> miles away
		</p>
	</div>

	<div class="show-email">
		  <p class="show-info">
		  	<%= @role.email %>
		  </p>
	</div>

	<div class="show-ambitions">
		<p>
			<strong>Ambitions:</strong>
		  <p class="show-info">
		  	<% @role.profile.ambitions.each do |ambition| %>
		  		<%= ambition %>
		  		<% unless ambition == @role.profile.ambitions.last %>
		  		,
		  		<% end %>
		  	<% end %>
		  </p>
		</p>
	</div>

	<div class="show-skills">
		<p>
			<strong>Skills:</strong>
		  <p class="show-info">
		  	<%= @role.profile.tag_list.each do |skill| %>
		  		<%= skill %>
		  		<% unless skill == @role.profile.tag_list.last %>
		  		,
		  		<% end %>		  		
		  	<% end %>
		  </p>
		</p>
	</div>

</div>


<div class="show-info-descriptive">

	<div class="show-headline">
		<p>
		  <h4 class="show-headline">
		  	<%= @role.profile.headline %>
		  </h4>
		</p>
	</div>

	<div class="show-about">
		<p>
		  <p class="show-info">
		  	<%= @role.profile.about %>
		  </p>
		</p>
	</div>

</div>